div{
    background-color: black;
    height: 200px;
}
.title{
    text-align: center;
    background-color: black;
    font-size: 50px;
    color: yellow;
    margin: 0%;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logo{
    display: block;
    margin: 0 auto;
    size: 40px;
}
nav {
    background-color: yellow;
    text-align: center;
    font-family: sans-serif, 'Times New Roman', Times, serif;
}
a{
    display: inline-block;
    padding: 10px 10px;
    font-size: large;
    color: black;
    border-radius: 10px;
    border-color: black;
}
.vid-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
iframe{
    margin: 0 10px;
}